@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

@mixin bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

$main-color:#D39597;

body {
  color: #4d4d4d;
  background-color: #F7F7F7;
  font-family: 'Noto Serif TC', serif;
}

ul {
    padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4d4d4d;
  &:hover {
    color: #4d4d4d;
  }
}

input {
    outline: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

.d-flex {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bg-pic {
  width: 100%;
}

.title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 60px;
}

header {
  width: 100%;
  height: 150px;
  background-color: #fff;
  .container {
    height: 100%;
    .logo {
      height: 100px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    nav {
      position: absolute;
      width: 60%;
      height: 50px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      li {
        width: 25%;
        height: 100%;
        text-align: center;
        a {
          display: block;
          line-height: 50px;
        }
        &.active {
            a {
                color: $main-color;
            }
        }
      }
    }
    .right {
      position: absolute;
      width: 20%;
      height: 100%;
      right: 0;
      top: 0;
      .icon-box {
        margin-top: 35px;
        img {
          width: 25px;
          margin: 0 10px;
        }
      }
      .search {
        margin-top: 40px;
        width: 100%;
        border: 1px solid #666666;
        border-radius: 100px;
        overflow: hidden;
        input {
          color: #666666;
          width: 82%;
          height: 35px;
          border: 0;
          padding: 0 15px;
        }
        button {
          width: 18%;
          img {
            width: 70%;
          }
        }
      }
    }
  }
}

footer {
    padding: 70px 0 100px;
    background-color: #fff;
    .footer-nav {
        height: 100%;
        >li {
            border-left: 2px solid #4D4D4D;
            h5 {
                font-size: 24px;
                margin-bottom: 10px;
            }
            ul {
                justify-content: start;
                li {
                    font-size: 16px;
                    margin-bottom: 5px;
                    img {
                        width: 35px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .fans {
        div{
            height: 100%;
            background-color: #F2F2F2;
            position: relative;
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    .copyright {
        text-align: center;
        margin-top: 30px;
    }
}

.banner {
  .text {
    top: 13vw;
    right: 10vw;
    h1 {
      font-size: 60px;
      background: linear-gradient(
        135deg,
        #817428 20%,
        #3e320f 30%,
        #817428 45%,
        #3e320f 100%
      );
      background: -webkit-linear-gradient(
        135deg,
        #817428 20%,
        #3e320f 30%,
        #817428 45%,
        #3e320f 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    p {
      font-size: 30px;
      color: #e53e51;
    }
  }
}

.bubble-box {
  position: relative;
  .bb {
    position: absolute;
    &.bb-1 {
      top: 15vw;
      left: 3vw;
    }
    &.bb-2 {
      top: 55vw;
      left: 9vw;
    }
    &.bb-3 {
      top: 37vw;
      right: 5vw;
    }
    .bubble {
      width: 29vw;
      height: 29vw;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      &.bubb-1 {
        background-image: url(../img/bubble_1.png);
      }
      &.bubb-2 {
        background-image: url(../img/bubble_2.png);
      }
      &.bubb-3 {
        background-image: url(../img/bubble_3.png);
      }
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        color: #fff;
        text-align: center;
      }
    }
  }
}

.nutrition {
  h3 {
    color: #f0047f;
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    span:first-child {
      font-size: 65px;
    }
  }
  .drip {
    width: 22vw;
    position: absolute;
    top: 35vw;
    left: 39vw;
  }
  .circle-box {
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    position: absolute;
    .cb {
      width: 85%;
      margin: 60px auto 0;
      text-align: center;
      h4 {
        font-size: 40px;
        margin-bottom: 30px;
      }
      p {
        font-size: 25px;
        line-height: 45px;
      }
    }
    &.cb-1 {
      top: 20vw;
      left: 10vw;
      color: #f44c7f;
      p {
        width: 90%;
      }
    }
    &.cb-2 {
      top: 35vw;
      left: 50vw;
      color: #349980;
      .cb {
        margin-top: 150px;
      }
    }
    &.cb-3 {
      top: 60vw;
      left: 18vw;
      color: #ffab52;
      .cb {
        margin-top: 150px;
      }
    }
  }
}

.recc {
  h3 {
    color: #e53e51;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
  }
  img {
    width: 100%;
  }
}

.join {
  background-color: #f7f7f7;
  padding: 70px 0 100px;
  form {
    width: 90%;
    margin: 0 auto;
    border: 2px solid #000;
    background-color: #fff;
    padding: 40px;
    .top-select {
      width: 100%;
      height: 35px;
      border: 2px solid #000;
    }
    h4 {
      margin-top: 30px;
      margin-bottom: 15px;
      color: $main-color;
      font-size: 35px;
      span {
        font-size: 20px;
        margin-left: 30px;
      }
    }
    .form-item {
        @include flex-style;
        margin-bottom: 18px;
        width: 50%;
        label {
            width: 20%;
        }
        input,select {
            width: 80%;
            border-radius: 0;
            border: 1px solid #000;
            height: 35px;
            outline: none;
        }
        .cb {
            width: 80%;
            .check {
                align-items: start;
                margin-bottom: 20px;
                .check-box {
                    width: 18px;
                    height: 18px;
                    border: 1px solid #000;
                    line-height: 1;
                    i {
                        font-size: 14px;
                        width: 18px;
                        height: 18px;
                        line-height: 18px;
                        text-align: center;
                    }
                }
                span {
                    width: calc(100% - 30px);
                }
            }
        }
        &.fi-birth {
            width: 70%;
            label {
                width: calc(100%/7);
            }
            input {
                width: calc(400%/7);
            }
            span {
                width: calc(200%/7);
                padding-left: 10px;
            }
        }
        &.fi-addr {
            width: 80%;
            label {
                width: calc(100%/8);
            }
            .city-selector-set {
                width: calc(400%/8);
                @include flex-style;
                div {
                    width: 48%;
                    select {
                        width: 100%;
                    }
                }
            }
            .addr-box {
                width: calc(300%/8);
                input {
                    width: calc(100% - 15px);
                    margin-left: auto;
                    display: block;
                }
            }
        }
    }
    button {
        width: 60%;
        background-color: $main-color;
        color: #fff;
        padding: 8px;
        display: block;
        margin: 20px auto 0;
    }
  }
}

.product {
    margin-top: 70px;
    .product-list {
        li {
            width: 100%;
            margin-bottom: 20px;
            a {
                display: block;
                width: 100%;
            }
            &.active {
                a {
                    color: $main-color;
                }
            }
        }
    }
    .product-box {
        padding-bottom: 100px;
        border-bottom: 1px solid #000;
        .product-pic {
            .pic-box {
                width: 100%;
                height: 0;
                padding-bottom: 100%;
                @include bg;
                background-size: contain;
            background-color: #fff;
            border: 1px solid #000;
                img {
                    width: 25px;
                    bottom: 15px;
                    right: 15px;
                }
            }
        }
        .buy-inform {
            .breadcrumb {
                .breadcrumb-item.active {
                    color: $main-color;
                }
            }
            .product-detail {
                padding-top: 20px;
                padding-left: 20px;
                h1 {
                    font-size: 24px;
                }
                .price {
                    font-size: 17px;
                }
                .follow {
                    line-height: 1;
                    img {
                        width: 20px;
                        vertical-align: middle;
                    }
                    span {
                        vertical-align: middle;
                    }
                }
                .num-box {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    .mb {
                        width: 49%;
                        height: 40px;
                        border: 1px solid #000;
                        button {
                            width: 40px;
                            height: 100%;
                            background-color: #CCCCCC;
                            img {
                                width: 50%;
                            }
                        }
                        input {
                            width: calc(100% - 80px);
                            border: 0;
                            height: 100%;
                            text-align: center;
                        }
                    }
                }
                .btn-box {
                    margin-bottom: 20px;
                    button {
                        width: 49%;
                        height: 45px;
                        border: 1px solid $main-color;
                        &.add {
                            color: $main-color;
                            background-color: #fff;
                        }
                        &.checkout {
                            color: #fff;
                            background-color: $main-color;
                        }
                    }
                }
                .feature {
                    padding: 8px 0;
                    border-top: 1px solid #000;
                    border-bottom: 1px solid #000;
                    width: 100%;
                    margin-bottom: 20px;
                    .f-title {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        p {
                            text-align: center;
                            margin: 0;
                        }
                        i {
                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
                .share {
                    line-height: 1;
                    img {
                        height: 17px;
                        vertical-align: middle;
                    }
                    span {
                        color: #337FFF;
                        vertical-align: middle;
                    }
                }
            }
        }
    } 
    .product-desc {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}