@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

@mixin bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin input-style {
  border-radius: 0;
  border: 1px solid #000;
  height: 35px;
}

@mixin main-text {
  line-height: 2.5;
  font-size: 18px;
  margin: 0;
}

$main-color: #d39597;
$main-my: 70px;

body {
  color: #4d4d4d;
  background-color: #f7f7f7;
  font-family: "Noto Serif TC", serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4d4d4d;
  &:hover {
    color: #4d4d4d;
  }
}

input {
  outline: none;
  @include input-style;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  outline: none;
  @include input-style;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

.d-flex {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bg-pic {
  width: 100%;
}

.title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
}

// normal style
main {
  margin-top: 150px;
  padding-top: 70px;
}
.cart-box {
  display: inline-block;
  position: relative;
  .buy-num {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $main-color;
    color: #fff;
    bottom: 0;
    right: 0;
    line-height: 18px;
    text-align: center;
    font-size: 13px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #fff;
  z-index: 1;
  .container {
    height: 100%;
    .logo {
      height: 100px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    nav {
      position: absolute;
      width: 55%;
      height: 50px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      .icon {
        display: none;
        .cart-box {
          .buy-num {
            bottom: inherit;
            top: 30px;
            right: 30%;
          }
        }
      }
      .navi {
        justify-content: start;
        li {
          height: 100%;
          a {
            display: block;
            line-height: 50px;
            padding: 0 20px;
          }
          &.active {
            a {
              color: $main-color;
            }
          }
          &.mobile-nav {
            display: none;
          }
        }
      }
    }
    .right {
      position: absolute;
      width: 25%;
      height: 100%;
      right: 0;
      top: 0;
      .icon-box {
        margin-top: 35px;
        @include flex-style;
        img {
          width: 25px;
          margin: 0 5px;
        }
      }
      .menu {
        font-size: 20px;
        margin-top: 35px;
        cursor: pointer;
        float: right;
        display: none;
      }
      .search {
        margin-top: 40px;
        width: 100%;
        border: 1px solid #666666;
        border-radius: 100px;
        overflow: hidden;
        input {
          color: #666666;
          width: calc(100% - 45px);
          height: 35px;
          border: 0;
          padding: 0 15px;
        }
        button {
          width: 45px;
          img {
            width: 20px;
          }
        }
      }
    }
  }
}

footer {
  padding: 70px 0 100px;
  background-color: #fff;
  .footer-nav {
    height: 100%;
    > li {
      border-left: 2px solid #4d4d4d;
      &.fans {
        border: 0;
        div {
          height: 100%;
          background-color: #f2f2f2;
          position: relative;
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      h5 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      ul {
        justify-content: start;
        li {
          font-size: 16px;
          margin-bottom: 5px;
          img {
            width: 35px;
            margin-right: 10px;
          }
          &.active {
            a {
              color: $main-color;
            }
          }
        }
      }
    }
  }
  .copyright {
    text-align: center;
    margin-top: 30px;
  }
}

.list-box {
  li {
    width: 100%;
    margin-bottom: 20px;
    a {
      display: block;
      width: 100%;
    }
    &.active {
      a {
        color: $main-color;
      }
    }
    &.list-title {
      font-size: 20px;
    }
  }
}

.pagination {
  justify-content: center;
  margin-top: 30px;
  .page-link {
    border: 0;
    background-color: transparent;
    color: #4d4d4d;
  }
  .page-link:first-child {
    i {
      margin-right: 5px;
    }
  }
  .page-link:last-child {
    i {
      margin-left: 5px;
    }
  }
}

.check {
  align-items: start;
  margin-bottom: 20px;
  cursor: pointer;
  .check-box {
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    line-height: 1;
    i {
      font-size: 14px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      opacity: 0;
      transition: 0.3s;
    }
  }
  span {
    width: calc(100% - 30px);
    margin-top: -3px;
  }
  &.active {
    .check-box {
      i {
        opacity: 1;
      }
    }
  }
}

.content-title {
  padding: 15px 0;
  font-size: 24px;
  color: $main-color;
  border-bottom: 1px solid #000;
}

.order-table {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid $main-color;
  > div {
    align-items: stretch;
    > div {
      padding: 10px 0;
      p {
        text-align: center;
        margin: 0;
      }
    }
    &.title-box {
      > div {
        background-color: $main-color;
        border-right: 1px solid #fff;
        p {
          color: #fff;
        }
      }
      > div:last-child {
        border-right: 0;
      }
    }
    &.content-box {
      > div {
        border-right: 1px solid $main-color;
      }
      > div:last-child {
        border-right: 0;
      }
    }
  }
}

.order-table.ot-pc {
  display: block;
}

.order-table.ot-mobile {
  display: none;
}

.order-table.ot-min350 {
  display: block;
}

.order-table.ot-max350 {
  display: none;
}

.text-table {
  width: 100%;
  tr {
    td {
      padding: 8px 0;
      vertical-align: top;
      line-height: 2.5;
    }
    td:first-child {
      width: 25px;
    }
    td:nth-child(2) {
      width: calc(100% - 25px);
    }
  }
}

.sb {
  .step-box {
    margin: 0 auto 40px;
    width: 60%;
    position: relative;
    .step {
      position: relative;
      .num-box {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #4d4d4d;
        border-radius: 50%;
        color: #fff;
        font-size: 24px;
        margin: 0 auto 10px;
        &.active {
          background-color: $main-color;
        }
      }
      p {
        font-size: 18px;
        text-align: center;
      }
    }
    &:before {
      width: 95%;
      height: 1px;
      background-color: #4d4d4d;
      position: absolute;
      content: "";
      top: 24px;
      left: 2.5%;
    }
  }
}

.mb {
  height: 40px;
  border: 1px solid #000;
  button {
    width: 40px;
    height: 100%;
    background-color: #cccccc;
    img {
      width: 50%;
    }
  }
  input {
    width: calc(100% - 80px);
    border: 0;
    height: 100%;
    text-align: center;
  }
}

.index-pic {
  width: 100%;
}

// customerize
.banner {
  margin-top: 100px;
}

.nutrition {
  h3 {
    color: #f0047f;
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    span:first-child {
      font-size: 65px;
    }
  }
}

.recc {
  h3 {
    color: #e53e51;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
  }
  img {
    width: 100%;
  }
}

.join {
  background-color: #f7f7f7;
  padding: 70px 0 100px;
  form {
    width: 90%;
    margin: 0 auto;
    border: 2px solid #000;
    background-color: #fff;
    padding: 40px;
    .top-select {
      width: 100%;
      height: 35px;
      border: 2px solid #000;
    }
    h4 {
      margin-top: 30px;
      margin-bottom: 15px;
      color: $main-color;
      font-size: 35px;
      br {
        display: none;
      }
      span {
        font-size: 20px;
        margin-left: 30px;
      }
    }
    .form-item {
      @include flex-style;
      margin-bottom: 18px;
      width: 50%;
      label {
        width: 20%;
      }
      input,
      select {
        width: 80%;
        outline: none;
      }
      .cb {
        width: 80%;
      }
      &.fi-birth {
        width: 70%;
        label {
          width: calc(100% / 7);
        }
        input {
          width: calc(400% / 7);
        }
        span {
          width: calc(200% / 7);
          padding-left: 10px;
        }
      }
      &.fi-addr {
        width: 80%;
        label {
          width: calc(100% / 8);
        }
        .city-selector-set {
          width: calc(400% / 8);
          @include flex-style;
          div {
            width: 48%;
            select {
              width: 100%;
            }
          }
        }
        .addr-box {
          width: calc(300% / 8);
          input {
            width: calc(100% - 15px);
            margin-left: auto;
            display: block;
          }
        }
      }
    }
    button {
      width: 60%;
      background-color: $main-color;
      color: #fff;
      padding: 8px;
      display: block;
      margin: 20px auto 0;
    }
  }
}

.product {
  .container {
    .product-box {
      padding-bottom: 100px;
      border-bottom: 1px solid #000;
      .product-pic {
        .pic-box {
          width: 100%;
          height: 0;
          padding-bottom: 100%;
          @include bg;
          background-size: contain;
          background-color: #fff;
          border: 1px solid #000;
          img {
            width: 25px;
            bottom: 15px;
            right: 15px;
          }
        }
      }
      .buy-inform-box {
        .breadcrumb {
          .breadcrumb-item.active {
            color: $main-color;
          }
        }
        .product-detail {
          padding-top: 20px;
          padding-left: 20px;
          h1 {
            font-size: 24px;
          }
          .price {
            font-size: 17px;
          }
          .follow {
            line-height: 1;
            img {
              width: 20px;
              vertical-align: middle;
            }
            span {
              vertical-align: middle;
            }
          }
          .num-box {
            margin-top: 20px;
            margin-bottom: 20px;
            .mb {
              width: 49%;
            }
          }
          .btn-box {
            margin-bottom: 20px;
            button {
              width: 49%;
              height: 45px;
              border: 1px solid $main-color;
              &.add {
                color: $main-color;
                background-color: #fff;
              }
              &.checkout {
                background-color: $main-color;
                a {
                  display: block;
                  width: 100%;
                  height: 100%;
                  color: #fff;
                  line-height: 41px;
                }
              }
            }
          }
          .feature {
            padding: 8px 0;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            width: 100%;
            margin-bottom: 20px;
            .f-title {
              width: 100%;
              height: 100%;
              position: relative;
              cursor: pointer;
              p {
                text-align: center;
                margin: 0;
              }
              i {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.3s;
              }
              &.active {
                i {
                  transform: translateY(-50%) rotate(180deg);
                }
              }
            }
            .f-content {
              padding: 30px 20px;
              display: none;
            }
          }
          .share {
            line-height: 1;
            img {
              height: 17px;
              vertical-align: middle;
            }
            span {
              color: #337fff;
              vertical-align: middle;
            }
          }
        }
      }
    }
    .product-desc {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

.story {
  .text {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.point {
  margin-bottom: $main-my;
  .point-box {
    padding-bottom: 100px;
    .point-title {
      padding-bottom: 30px;
      button {
        background-color: $main-color;
        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 10px 40px;
          color: #fff;
        }
      }
    }
  }
}

.join-member {
  width: 100%;
  margin-bottom: 80px;
  .jb {
    background-color: #fff;
    padding-bottom: 70px;
    .tab {
      width: 100%;
      border: 1px solid $main-color;
      button {
        width: 50%;
        padding: 15px;
        color: #fff;
        background-color: $main-color;
        p {
          margin: 5px 0;
        }
        p:first-child {
          font-size: 24px;
        }
        p:nth-child(2) {
          font-size: 13px;
        }
        &.active {
          color: #4d4d4d;
          background-color: #fff;
        }
      }
    }
    .member-form {
      width: 40%;
      margin: 40px auto;
      .fb-login {
        width: 100%;
        background-color: #036eb7;
        color: #fff;
        font-family: 微軟正黑體;
        padding: 15px;
      }
      p {
        text-align: center;
        margin: 10px 0 15px;
      }
      .input-box {
        margin-bottom: 10px;
        label {
          width: 100%;
          margin-bottom: 5px;
        }
        input {
          width: 100%;
        }
        &.password-box {
          p {
            text-align: left;
          }
        }
      }
      .veri-box {
        width: 100%;
        margin-bottom: 10px;
        label {
          width: 100%;
          margin-bottom: 5px;
        }
        input {
          width: 50%;
          height: 35px;
          border-radius: 0;
          border: 1px solid #000;
        }
      }
      .cb {
        width: 100%;
        margin: 20px 0 5px;
        .check {
          width: 50%;
        }
      }
      .output-btn {
        color: #fff;
        background-color: $main-color;
        padding: 8px;
        width: 100%;
      }
      &.signup {
        display: none;
        .cb {
          .check {
            width: 100%;
          }
        }
      }
    }
  }
}

.foregt-password {
  margin-bottom: $main-my;
  .fp {
    form {
      margin-top: 40px;
      width: 50%;
      .input-box {
        @include flex-style;
        justify-content: start;
        width: 100%;
        margin-bottom: 20px;
        label {
          font-size: 14px;
          width: 90px;
        }
        input {
          width: calc(100% - 95px);
        }
      }
      .btn-box {
        margin-top: 40px;
        button {
          background-color: $main-color;
          color: #fff;
          padding: 13px 0;
          width: 49%;
        }
      }
    }
  }
}

.point-check {
  .now-point {
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  .record-box {
    padding: 20px 0 100px;
    width: 100%;
    .record {
      padding: 30px 0;
      width: 100%;
      .order-num {
        margin-bottom: 20px;
      }
      .order-table {
        width: 100%;
        > div {
          width: 100%;
          > div {
            width: 25%;
          }
        }
      }
      .detail {
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

.order-detail {
  margin-bottom: $main-my;
  .od {
    position: relative;
    background-color: #fff;
    padding: 20px 30px;
    .delete {
      width: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .detail-title {
      font-size: 18px;
      padding-bottom: 20px;
      border-bottom: 1px solid #000;
    }
    .order-inform {
      .text {
        p {
          color: $main-color;
        }
      }
    }
    .order-table {
      width: 100%;
      &.about-order {
        > div {
          > div {
            width: 25%;
          }
        }
      }
      &.about-product {
        > div {
          &.content-box {
            > div {
              height: 0;
              padding-bottom: 25%;
              position: relative;
              img {
                width: 95%;
              }
              p {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          > div:first-child {
            width: 15%;
          }
          > div:nth-child(2) {
            width: 35%;
          }
          > div:nth-child(3) {
            width: calc(50% / 3);
          }
          > div:nth-child(4) {
            width: calc(50% / 3);
          }
          > div:nth-child(5) {
            width: calc(50% / 3);
          }
        }
      }
      &.about-money {
        > div {
          > div:first-child {
            width: calc(50% / 3);
          }
          > div:nth-child(2) {
            width: calc(50% / 3);
          }
          > div:nth-child(3) {
            width: calc(50% / 3);
          }
          > div:nth-child(4) {
            width: 25%;
          }
          > div:nth-child(5) {
            width: 25%;
          }
        }
      }
      &.remark {
        > div {
          > div {
            width: 100%;
          }
        }
      }
    }
    .client-inform {
      border-top: 2px solid #000;
      padding-top: 20px;
      h5 {
        font-size: 22px;
        color: $main-color;
        margin-bottom: 20px;
      }
      p {
        margin-left: 25px;
      }
    }
  }
}

.term-box {
  margin-bottom: $main-my;
  .tb {
    .text-box {
      margin-top: 10px;
      margin-bottom: 40px;
      p {
        @include main-text;
      }
    }
  }
}

.cart-content {
  border: 2px solid #000;
  background-color: #fff;
  padding: 20px 30px;
  margin-bottom: 40px;
  &.remark {
    p {
      @include main-text;
    }
  }
  &.client {
    padding-bottom: 180px;
  }
  &.btn-box {
    padding: 0 30px;
    border: 0;
    background-color: transparent;
    button {
      width: 100%;
      &.submit {
        background-color: $main-color;
        margin-bottom: 20px;
        a {
          color: #fff;
        }
      }
      &.back {
        border: 1px solid $main-color;
        a {
          color: $main-color;
        }
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
      }
    }
  }
  .cart-title {
    font-size: 18px;
    color: $main-color;
    margin-bottom: 30px;
  }
  .order-table {
    margin-bottom: 50px;
    > div {
      > div:first-child {
        width: 25%;
      }
      > div:nth-child(2) {
        width: 20%;
      }
      > div:nth-child(3) {
        width: calc(35% / 3);
      }
      > div:nth-child(4) {
        width: 20%;
      }
      > div:nth-child(5) {
        width: calc(35% / 3);
      }
      > div:nth-child(6) {
        width: calc(35% / 3);
      }
      &.content-box {
        > div {
          position: relative;
          &.prod {
            justify-content: start;
          }
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          img {
            width: 20px;
            cursor: pointer;
          }
          .mb {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        > div:first-child {
          div {
            .pic {
              width: 20%;
              height: 0;
              padding-bottom: 20%;
              @include bg;
            }
            span {
              width: 80%;
              padding-left: 8px;
            }
          }
        }
      }
    }
  }
  .bonus {
    margin-bottom: 30px;
    p {
      font-size: 18px;
    }
    .bonus-content {
      line-height: 1;
      .b-title {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 20px;
        color: #fff;
        background-color: $main-color;
      }
      span {
        vertical-align: middle;
        padding-left: 8px;
      }
    }
  }
  .total-price {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  .ct-box {
    margin: 0 auto 20px;
    text-align: center;
    color: $main-color;
  }
  hr {
    border: 1px solid #000;
  }
  .money-inform {
    width: 50%;
    margin-left: auto;
    > div {
      margin-bottom: 15px;
      &.total-price {
        font-size: 16px;
        padding: 15px 0;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
    }
  }
  .desc-box {
    border: 1px solid #000;
    padding: 20px;
    width: 100%;
    margin: 20px 0;
    p {
      margin: 0;
    }
  }
  .discount {
    margin-bottom: 30px;
    h5 {
      color: $main-color;
      cursor: pointer;
    }
    .d-flex {
      align-items: start;
    }
    .d-input {
      @include flex-style;
      display: none;
      input,
      select {
        width: 70%;
      }
      button {
        height: 35px;
        width: calc(30% - 15px);
        color: #fff;
        background-color: $main-color;
      }
    }
  }
  .checkout {
    border-top: 1px solid #000;
    padding-top: 20px;
    h5 {
      color: $main-color;
    }
    button {
      width: 100%;
      background-color: $main-color;
      margin-bottom: 20px;
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px;
        color: #fff;
      }
    }
  }
  .method-box {
    h5 {
      font-size: 16px;
      margin-bottom: 20px;
    }
    select {
      width: 100%;
      padding: 0 15px;
    }
  }
  .inform-box {
    margin-bottom: 20px;
    label {
      margin-bottom: 5px;
    }
    input,
    select {
      width: 100%;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: $main-color;
      color: #fff;
      margin-bottom: 20px;
    }
    p {
      margin-top: 5px;
    }
  }
  .order-check {
    text-align: center;
    .thank {
      color: $main-color;
      font-size: 28px;
    }
    .order-num {
      line-height: 1.8;
    }
  }
}

.buy-inform {
  margin-bottom: 40px;
  .cart-content {
    height: 100%;
    .cart-title {
      padding-bottom: 30px;
      border-bottom: 1px solid #000;
    }
  }
  .keep {
    width: 60%;
    background-color: $main-color;
    display: block;
    margin: 0 auto 40px;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      padding: 10px;
    }
  }
}

.step2 {
  .cart-content {
    height: auto;
  }
  .order-table {
    > div {
      > div:first-child {
        width: 40%;
      }
      > div:nth-child(2) {
        width: 15%;
      }
      > div:nth-child(3) {
        width: 15%;
      }
      > div:nth-child(4) {
        width: 15%;
      }
      > div:nth-child(5) {
        width: 15%;
      }
    }
  }
}

.step3 {
  .cart-content {
    height: auto;
  }
  .order-table {
    > div {
      &.content-box {
        > div {
          p {
            position: static;
            transform: none;
          }
        }
      }
      > div:first-child {
        width: 15%;
      }
      > div:nth-child(2) {
        width: calc(85% / 4);
      }
      > div:nth-child(3) {
        width: calc(85% / 4);
      }
      > div:nth-child(4) {
        width: calc(85% / 4);
      }
      > div:nth-child(5) {
        width: calc(85% / 4);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  main {
    margin-top: 100px;
    padding-top: 40px;
  }
  header {
    height: 100px;
    .container {
      .logo {
        height: 70px;
        left: 15px;
      }
      nav {
        position: fixed;
        top: 100px;
        left: 100vw;
        transform: none;
        background-color: #fff;
        width: 100%;
        height: calc(100vh - 100px);
        z-index: 1;
        transition: 0.3s;
        &.active {
          left: 0;
        }
        .icon {
          display: flex;
          > a {
            width: 25%;
            img {
              width: 30%;
              margin: 20px auto 5px;
              display: block;
            }
            span {
              display: block;
              text-align: center;
            }
          }
          .cart-box {
            width: 25%;
            img {
              width: 30%;
              margin: 20px auto 5px;
              display: block;
            }
          }
        }
        .navi {
          margin-top: 40px;
          li {
            width: 100%;
          }
        }
      }
      .right {
        width: 50%;
        right: 15px;
        .icon-box {
          display: none;
        }
        .menu {
          display: block;
          margin-top: 23px;
        }
        .search {
          margin-top: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .cart-content {
    .order-table {
      > div {
        &.content-box {
          > div {
            .mb {
              input {
                width: calc(100% - 50px);
              }
              button {
                width: 25px;
                img {
                  width: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  .foregt-password {
    .fp {
      form {
        width: 100%;
      }
    }
  }
  .join-member {
    .jb {
      .member-form {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    .container {
      nav {
        .navi {
          li {
            &.mobile-nav {
              display: block;
            }
          } 
        } 
      } 
    } 
  } 
  footer {
    .footer-nav {
      > li {
        margin-bottom: 20px;
      }
      >li:first-child {
        display: none;
      }
      >li:nth-child(2) {
        display: none;
      }
    }
  }
  .banner {
    margin-top: 100px;
  }
  .title {
    font-size: 30px;
  }
  .nutrition {
    h3 {
      top: 2vw;
      span:first-child {
        font-size: 45px;
      }
    }
  }
  .recc {
    h3 {
      top: 2vw;
    }
  }
  .join {
    form {
      h4 {
        font-size: 30px;
        br {
          display: block;
        }
        span {
          font-size: 16px;
          margin-left: 0;
        }
      }
      .form-item {
        width: 100%;
        &.fi-addr {
          width: 100%;
          label {
            width: 100%;
          }
          .city-selector-set {
            width: 100%;
            margin-bottom: 15px;
          }
          .addr-box {
            width: 100%;
            input {
              width: 100%;
            }
          }
        }
        &.fi-birth {
          width: 100%;
          label {
            width: 100%;
          }
          input {
            width: 100%;
            margin-bottom: 5px;
          }
          span {
            width: 100%;
            padding-left: 0;
          }
        }
        label {
          width: 100%;
          margin-bottom: 5px;
        }
        input,
        select {
          width: 100%;
        }
        .cb {
          width: 100%;
        }
      }
    }
  }
  .sb {
    .step-box {
      width: 90%;
      &:before {
        width: 90%;
        left: 5%;
      }
    }
  }
  .order-table.ot-pc {
    display: none;
  }
  .order-table.ot-mobile {
    display: block;
  }
  .cart-content {
    .order-table {
      > div {
        &.content-box {
          > div {
            p {
              position: static;
              transform: none;
            }
            .mb {
              input {
                width: calc(100% - 80px);
              }
              button {
                width: 40px;
                img {
                  width: 20px;
                }
              }
            }
          }
        }
        &.row_1 {
          > div {
            width: 100%;
          }
        }
        &.row_2 {
          > div {
            width: 50%;
          }
        }
        &.row_3 {
          > div:first-child {
            width: 50%;
          }
          > div:nth-child(2) {
            width: 25%;
          }
          > div:nth-child(3) {
            width: 25%;
          }
        }
      }
    }
  }
  .step2 {
    .order-table {
      > div {
        &.row_1 {
          > div {
            width: 100%;
          }
        }
        &.row_2 {
          > div:first-child {
            width: 70%;
          }
          > div:nth-child(2) {
            width: 30%;
          }
        }
        &.row_3 {
          > div:first-child {
            width: 70%;
          }
          > div:nth-child(2) {
            width: 30%;
          }
        }
      }
    }
  }
  .step3 {
    .order-table {
      > div {
        &.row_1 {
          > div {
            width: 50%;
          }
        }
        &.row_2 {
          > div {
            width: calc(100% / 3);
          }
        }
      }
    }
  }
  .product {
    .container {
      .product-box {
        padding-bottom: 40px;
        .buy-inform-box {
          .product-detail {
            padding-left: 0;
          }
        }
      }
      .product-desc {
        padding-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .cart-content {
    &.client {
      padding-bottom: 0;
    }
    .money-inform {
      width: 100%;
    }
  }
  .buy-inform {
    // margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .cart-content {
    padding: 15px;
    .order-table {
      > div {
        &.content-box {
          > div {
            .mb {
              input {
                width: calc(100% - 40px);
              }
              button {
                width: 20px;
                img {
                  width: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  .join-member {
    .jb {
      .tab {
        button {
          p:first-child {
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  header {
    .container {
      .right {
        width: 40%;
        .search {
          input {
            width: calc(100% - 30px);
          }
          button {
            width: 30px;
            img {
              width: 90%;
            }
          }
        }
      }
    }
  }
  .join {
    form {
      padding: 15px;
    }
  }
  .nutrition {
    h3 {
      span:first-child {
        font-size: 35px;
      }
    }
  }
  .title {
    font-size: 25px;
  }
  .point {
    .point-box {
      .point-title {
        .text {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .order-table.ot-min350 {
    display: none;
  }
  .order-table.ot-max350 {
    display: block;
  }
  .order-detail {
    .od {
      .order-table {
        &.about-order {
          > div {
            > div {
              width: 50%;
            }
          }
        }
        &.about-product {
          > div {
            &.content-box {
              > div {
                padding-bottom: 65%;
              }
            }
            &.row_1 {
              > div {
                width: 50%;
              }
            }
            &.row_2 {
              > div {
                width: 33.3333%;
              }
            }
          }
        }
        &.about-money {
          > div {
            &.row_1 {
              > div {
                width: 33.3333%;
              }
            }
            &.row_2 {
              > div {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
  .point-check {
    .record-box {
      .record {
        .order-table {
          > div {
            > div {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
