@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

@mixin bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin flex-style {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin input-style {
  border-radius: 0;
  border: 1px solid #000;
  height: 35px;
}

@mixin main-text {
  line-height: 2.5;
  font-size: 18px;
  margin: 0;
}

$main-color: #d39597;
$main-my: 70px;

body {
  color: #4d4d4d;
  background-color: #f7f7f7;
  font-family: "Noto Serif TC", serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4d4d4d;
  &:hover {
    color: #4d4d4d;
  }
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  outline: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

.d-flex {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bg-pic {
  width: 100%;
}

.title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 60px;
}

// normal style
header {
  width: 100%;
  height: 150px;
  background-color: #fff;
  .container {
    height: 100%;
    .logo {
      height: 100px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    nav {
      position: absolute;
      width: 60%;
      height: 50px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      li {
        width: 25%;
        height: 100%;
        text-align: center;
        a {
          display: block;
          line-height: 50px;
        }
        &.active {
          a {
            color: $main-color;
          }
        }
      }
    }
    .right {
      position: absolute;
      width: 20%;
      height: 100%;
      right: 0;
      top: 0;
      .icon-box {
        margin-top: 35px;
        img {
          width: 25px;
          margin: 0 10px;
        }
        .cart-box {
          display: inline-block;
          position: relative;
          .buy-num {
            position: absolute;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: $main-color;
            color: #fff;
            bottom: 0;
            right: 0;
            line-height: 18px;
            text-align: center;
            font-size: 13px;
          }
        }
      }
      .search {
        margin-top: 40px;
        width: 100%;
        border: 1px solid #666666;
        border-radius: 100px;
        overflow: hidden;
        input {
          color: #666666;
          width: 82%;
          height: 35px;
          border: 0;
          padding: 0 15px;
        }
        button {
          width: 18%;
          img {
            width: 70%;
          }
        }
      }
    }
  }
}

footer {
  padding: 70px 0 100px;
  background-color: #fff;
  .footer-nav {
    height: 100%;
    > li {
      border-left: 2px solid #4d4d4d;
      h5 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      ul {
        justify-content: start;
        li {
          font-size: 16px;
          margin-bottom: 5px;
          img {
            width: 35px;
            margin-right: 10px;
          }
          &.active {
            a {
              color: $main-color;
            }
          }
        }
      }
    }
  }
  .fans {
    div {
      height: 100%;
      background-color: #f2f2f2;
      position: relative;
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  .copyright {
    text-align: center;
    margin-top: 30px;
  }
}

.list-box {
  li {
    width: 100%;
    margin-bottom: 20px;
    a {
      display: block;
      width: 100%;
    }
    &.active {
      a {
        color: $main-color;
      }
    }
    &.list-title {
      font-size: 20px;
    }
  }
}

.pagination {
  justify-content: center;
  margin-top: 30px;
  .page-link {
    border: 0;
    background-color: transparent;
    color: #4d4d4d;
  }
  .page-link:first-child {
    i {
      margin-right: 5px;
    }
  }
  .page-link:last-child {
    i {
      margin-left: 5px;
    }
  }
}

.cb {
  .check {
    align-items: start;
    margin-bottom: 20px;
    cursor: pointer;
    .check-box {
      width: 18px;
      height: 18px;
      border: 1px solid #000;
      line-height: 1;
      i {
        font-size: 14px;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        opacity: 0;
        transition: 0.3s;
      }
    }
    span {
      width: calc(100% - 30px);
      margin-top: -3px;
    }
    &.active {
      .check-box {
        i {
          opacity: 1;
        }
      }
    }
  }
}

.content-title {
  padding: 15px 0;
  font-size: 24px;
  color: $main-color;
  border-bottom: 1px solid #000;
}

.order-table {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid $main-color;
  > div {
    align-items: stretch;
    > div {
      padding: 10px 0;
      p {
        text-align: center;
        margin: 0;
      }
    }
    &.title-box {
      >div {
        background-color: $main-color;
        border-right:1px solid #fff;
        p {
          color: #fff;
        }
      }
      >div:last-child {
        border-right:0;
      }
    }
    &.content-box {
      >div {
        border-right:1px solid $main-color;
      }
      >div:last-child {
        border-right:0;
      }
    }
  }
}

.text-table {
  width: 100%;
  tr {
    td {
      padding: 8px 0;
      vertical-align: top;
      line-height: 2.5;
    }
    td:first-child {
      width: 25px;
    }
    td:nth-child(2) {
      width: calc(100% - 25px);
    }
  }
}

.mb {
  height: 40px;
  border: 1px solid #000;
  button {
    width: 40px;
    height: 100%;
    background-color: #cccccc;
    img {
      width: 50%;
    }
  }
  input {
    width: calc(100% - 80px);
    border: 0;
    height: 100%;
    text-align: center;
  }
}

// customerize
.banner {
  .text {
    top: 13vw;
    right: 10vw;
    h1 {
      font-size: 60px;
      background: linear-gradient(
        135deg,
        #817428 20%,
        #3e320f 30%,
        #817428 45%,
        #3e320f 100%
      );
      background: -webkit-linear-gradient(
        135deg,
        #817428 20%,
        #3e320f 30%,
        #817428 45%,
        #3e320f 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    p {
      font-size: 30px;
      color: #e53e51;
    }
  }
}

.bubble-box {
  position: relative;
  .bb {
    position: absolute;
    &.bb-1 {
      top: 15vw;
      left: 3vw;
    }
    &.bb-2 {
      top: 55vw;
      left: 9vw;
    }
    &.bb-3 {
      top: 37vw;
      right: 5vw;
    }
    .bubble {
      width: 29vw;
      height: 29vw;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      &.bubb-1 {
        background-image: url(../img/bubble_1.png);
      }
      &.bubb-2 {
        background-image: url(../img/bubble_2.png);
      }
      &.bubb-3 {
        background-image: url(../img/bubble_3.png);
      }
      p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        color: #fff;
        text-align: center;
      }
    }
  }
}

.nutrition {
  h3 {
    color: #f0047f;
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    span:first-child {
      font-size: 65px;
    }
  }
  .drip {
    width: 22vw;
    position: absolute;
    top: 35vw;
    left: 39vw;
  }
  .circle-box {
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    position: absolute;
    .cb {
      width: 85%;
      margin: 60px auto 0;
      text-align: center;
      h4 {
        font-size: 40px;
        margin-bottom: 30px;
      }
      p {
        font-size: 25px;
        line-height: 45px;
      }
    }
    &.cb-1 {
      top: 20vw;
      left: 10vw;
      color: #f44c7f;
      p {
        width: 90%;
      }
    }
    &.cb-2 {
      top: 35vw;
      left: 50vw;
      color: #349980;
      .cb {
        margin-top: 150px;
      }
    }
    &.cb-3 {
      top: 60vw;
      left: 18vw;
      color: #ffab52;
      .cb {
        margin-top: 150px;
      }
    }
  }
}

.recc {
  h3 {
    color: #e53e51;
    top: 5vw;
    left: 50%;
    transform: translateX(-50%);
  }
  img {
    width: 100%;
  }
}

.join {
  background-color: #f7f7f7;
  padding: 70px 0 100px;
  form {
    width: 90%;
    margin: 0 auto;
    border: 2px solid #000;
    background-color: #fff;
    padding: 40px;
    .top-select {
      width: 100%;
      height: 35px;
      border: 2px solid #000;
    }
    h4 {
      margin-top: 30px;
      margin-bottom: 15px;
      color: $main-color;
      font-size: 35px;
      span {
        font-size: 20px;
        margin-left: 30px;
      }
    }
    .form-item {
      @include flex-style;
      margin-bottom: 18px;
      width: 50%;
      label {
        width: 20%;
      }
      input,
      select {
        @include input-style;
        width: 80%;
        outline: none;
      }
      .cb {
        width: 80%;
      }
      &.fi-birth {
        width: 70%;
        label {
          width: calc(100% / 7);
        }
        input {
          width: calc(400% / 7);
        }
        span {
          width: calc(200% / 7);
          padding-left: 10px;
        }
      }
      &.fi-addr {
        width: 80%;
        label {
          width: calc(100% / 8);
        }
        .city-selector-set {
          width: calc(400% / 8);
          @include flex-style;
          div {
            width: 48%;
            select {
              width: 100%;
            }
          }
        }
        .addr-box {
          width: calc(300% / 8);
          input {
            width: calc(100% - 15px);
            margin-left: auto;
            display: block;
          }
        }
      }
    }
    button {
      width: 60%;
      background-color: $main-color;
      color: #fff;
      padding: 8px;
      display: block;
      margin: 20px auto 0;
    }
  }
}

.product {
  margin-top: $main-my;
  .product-box {
    padding-bottom: 100px;
    border-bottom: 1px solid #000;
    .product-pic {
      .pic-box {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        @include bg;
        background-size: contain;
        background-color: #fff;
        border: 1px solid #000;
        img {
          width: 25px;
          bottom: 15px;
          right: 15px;
        }
      }
    }
    .buy-inform {
      .breadcrumb {
        .breadcrumb-item.active {
          color: $main-color;
        }
      }
      .product-detail {
        padding-top: 20px;
        padding-left: 20px;
        h1 {
          font-size: 24px;
        }
        .price {
          font-size: 17px;
        }
        .follow {
          line-height: 1;
          img {
            width: 20px;
            vertical-align: middle;
          }
          span {
            vertical-align: middle;
          }
        }
        .num-box {
          margin-top: 20px;
          margin-bottom: 20px;
          .mb {
            width: 49%;
          }
        }
        .btn-box {
          margin-bottom: 20px;
          button {
            width: 49%;
            height: 45px;
            border: 1px solid $main-color;
            &.add {
              color: $main-color;
              background-color: #fff;
            }
            &.checkout {
              color: #fff;
              background-color: $main-color;
            }
          }
        }
        .feature {
          padding: 8px 0;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          width: 100%;
          margin-bottom: 20px;
          .f-title {
            width: 100%;
            height: 100%;
            position: relative;
            cursor: pointer;
            p {
              text-align: center;
              margin: 0;
            }
            i {
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
              transition: 0.3s;
            }
            &.active {
              i {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
          .f-content {
            padding: 30px 20px;
            display: none;
          }
        }
        .share {
          line-height: 1;
          img {
            height: 17px;
            vertical-align: middle;
          }
          span {
            color: #337fff;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .product-desc {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.story {
  margin-top: $main-my;
  .text {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.point {
  margin-top: $main-my;
  margin-bottom: $main-my;
  .point-box {
    padding-bottom: 100px;
    .point-title {
      padding-bottom: 30px;
      button {
        padding: 10px 40px;
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}

.join-member {
  width: 100%;
  margin-top: $main-my;
  margin-bottom: 80px;
  .jb {
    background-color: #fff;
    padding-bottom: 70px;
    .tab {
      width: 100%;
      border: 1px solid $main-color;
      button {
        width: 50%;
        padding: 15px 0;
        color: #fff;
        background-color: $main-color;
        p {
          margin: 5px 0;
        }
        p:first-child {
          font-size: 24px;
        }
        p:nth-child(2) {
          font-size: 13px;
        }
        &.active {
          color: #4d4d4d;
          background-color: #fff;
        }
      }
    }
    .member-form {
      width: 40%;
      margin: 40px auto;
      .fb-login {
        width: 100%;
        background-color: #036eb7;
        color: #fff;
        font-family: 微軟正黑體;
        padding: 15px;
      }
      p {
        text-align: center;
        margin: 10px 0 15px;
      }
      .input-box {
        margin-bottom: 10px;
        label {
          width: 100%;
          margin-bottom: 5px;
        }
        input {
          width: 100%;
          @include input-style;
        }
        &.password-box {
          p {
            text-align: left;
          }
        }
      }
      .veri-box {
        width: 100%;
        margin-bottom: 10px;
        label {
          width: 100%;
          margin-bottom: 5px;
        }
        input {
          width: 50%;
          height: 35px;
          border-radius: 0;
          border: 1px solid #000;
        }
      }
      .cb {
        width: 100%;
        margin: 20px 0 5px;
        .check {
          width: 50%;
        }
      }
      .output-btn {
        color: #fff;
        background-color: $main-color;
        padding: 8px;
        width: 100%;
      }
      &.signup {
        display: none;
        .cb {
          .check {
            width: 100%;
          }
        }
      }
    }
  }
}

.foregt-password {
  margin-top: $main-my;
  margin-bottom: $main-my;
  .fp {
    form {
      margin-top: 40px;
      width: 40%;
      .input-box {
        @include flex-style;
        justify-content: start;
        width: 100%;
        margin-bottom: 20px;
        label {
          font-size: 14px;
          width: 90px;
        }
        input {
          @include input-style;
          width: calc(90% - 90px);
        }
      }
      .btn-box {
        margin-top: 40px;
        button {
          background-color: $main-color;
          color: #fff;
          padding: 13px 0;
          width: 49%;
        }
      }
    }
  }
}

.point-check {
  margin-top: $main-my;
  .now-point {
    padding-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  .record-box {
    padding: 20px 0 100px;
    width: 100%;
    .record {
      padding: 30px 0;
      width: 100%;
      .order-num {
        margin-bottom: 20px;
      }
      .order-table {
        width: 100%;
        > div {
          width: 100%;
          > div {
            width: 25%;
          }
        }
      }
      .detail {
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

.order-detail {
  margin-top: $main-my;
  margin-bottom: $main-my;
  .od {
    position: relative;
    background-color: #fff;
    padding: 20px 30px;
    .delete {
      width: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .detail-title {
      font-size: 18px;
      padding-bottom: 20px;
      border-bottom: 1px solid #000;
    }
    .order-inform {
      .text {
        p {
          color: $main-color;
        }
      }
    }
    .order-table {
      width: 100%;
      &.about-order {
        >div {
          >div {
            width: 25%;
          }
        }
      }
      &.about-product {
        >div {
          &.content-box {
            >div {
              height: 0;
              padding-bottom: 25%;
              position: relative;
              img {
                width: 95%;
              }
              p {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
          >div:first-child {
            width: 15%;
          }
          >div:nth-child(2) {
            width: 35%;
          }
          >div:nth-child(3) {
            width: calc(50%/3);
          }
          >div:nth-child(4) {
            width: calc(50%/3);
          }
          >div:nth-child(5) {
            width: calc(50%/3);
          }
        }
      }
      &.about-money {
        >div {
          >div:first-child {
            width: calc(50%/3);
          }
          >div:nth-child(2) {
            width: calc(50%/3);
          }
          >div:nth-child(3) {
            width: calc(50%/3);
          }
          >div:nth-child(4) {
            width: 25%;
          }
          >div:nth-child(5) {
            width: 25%;
          }
        }
      }
      &.remark {
        >div {
          >div {
            width: 100%;
          }
        }
      }
    }
    .client-inform {
      border-top: 2px solid #000;
      padding-top: 20px;
      h5 {
        font-size: 22px;
        color: $main-color;
        margin-bottom: 20px;
      }
      p {
        margin-left: 25px;
      }
    }
  }
}

.term-box {
  margin-top: $main-my;
  margin-bottom: $main-my;
  .tb {
    .text-box {
      margin-top: 10px;
      margin-bottom: 40px;
      p {
        @include main-text;
      }
    }
  }
}