@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
body {
  color: #4d4d4d;
  background-color: #f7f7f7;
  font-family: "Noto Serif TC", serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

a:hover {
  color: #4d4d4d;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

select {
  outline: none;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

.d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bg-pic {
  width: 100%;
}

.title {
  font-size: 45px;
  text-align: center;
  margin-bottom: 60px;
}

header {
  width: 100%;
  height: 150px;
  background-color: #fff;
}

header .container {
  height: 100%;
}

header .container .logo {
  height: 100px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .container nav {
  position: absolute;
  width: 60%;
  height: 50px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .container nav li {
  width: 25%;
  height: 100%;
  text-align: center;
}

header .container nav li a {
  display: block;
  line-height: 50px;
}

header .container nav li.active a {
  color: #d39597;
}

header .container .right {
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  top: 0;
}

header .container .right .icon-box {
  margin-top: 35px;
}

header .container .right .icon-box img {
  width: 25px;
  margin: 0 10px;
}

header .container .right .search {
  margin-top: 40px;
  width: 100%;
  border: 1px solid #666666;
  border-radius: 100px;
  overflow: hidden;
}

header .container .right .search input {
  color: #666666;
  width: 82%;
  height: 35px;
  border: 0;
  padding: 0 15px;
}

header .container .right .search button {
  width: 18%;
}

header .container .right .search button img {
  width: 70%;
}

footer {
  padding: 70px 0 100px;
  background-color: #fff;
}

footer .footer-nav {
  height: 100%;
}

footer .footer-nav > li {
  border-left: 2px solid #4d4d4d;
}

footer .footer-nav > li h5 {
  font-size: 24px;
  margin-bottom: 10px;
}

footer .footer-nav > li ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer .footer-nav > li ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

footer .footer-nav > li ul li img {
  width: 35px;
  margin-right: 10px;
}

footer .fans div {
  height: 100%;
  background-color: #f2f2f2;
  position: relative;
}

footer .fans div p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer .copyright {
  text-align: center;
  margin-top: 30px;
}

.list-box li {
  width: 100%;
  margin-bottom: 20px;
}

.list-box li a {
  display: block;
  width: 100%;
}

.list-box li.active a {
  color: #d39597;
}

.list-box li.list-title {
  font-size: 20px;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.pagination .page-link {
  border: 0;
  background-color: transparent;
  color: #4d4d4d;
}

.pagination .page-link:first-child i {
  margin-right: 5px;
}

.pagination .page-link:last-child i {
  margin-left: 5px;
}

.cb .check {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 20px;
  cursor: pointer;
}

.cb .check .check-box {
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  line-height: 1;
}

.cb .check .check-box i {
  font-size: 14px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cb .check span {
  width: calc(100% - 30px);
  margin-top: -3px;
}

.cb .check.active .check-box i {
  opacity: 1;
}

.content-title {
  padding: 15px 0;
  font-size: 24px;
  color: #d39597;
  border-bottom: 1px solid #000;
}

.banner .text {
  top: 13vw;
  right: 10vw;
}

.banner .text h1 {
  font-size: 60px;
  background: linear-gradient(135deg, #817428 20%, #3e320f 30%, #817428 45%, #3e320f 100%);
  background: -webkit-linear-gradient(135deg, #817428 20%, #3e320f 30%, #817428 45%, #3e320f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.banner .text p {
  font-size: 30px;
  color: #e53e51;
}

.bubble-box {
  position: relative;
}

.bubble-box .bb {
  position: absolute;
}

.bubble-box .bb.bb-1 {
  top: 15vw;
  left: 3vw;
}

.bubble-box .bb.bb-2 {
  top: 55vw;
  left: 9vw;
}

.bubble-box .bb.bb-3 {
  top: 37vw;
  right: 5vw;
}

.bubble-box .bb .bubble {
  width: 29vw;
  height: 29vw;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.bubble-box .bb .bubble.bubb-1 {
  background-image: url(../img/bubble_1.png);
}

.bubble-box .bb .bubble.bubb-2 {
  background-image: url(../img/bubble_2.png);
}

.bubble-box .bb .bubble.bubb-3 {
  background-image: url(../img/bubble_3.png);
}

.bubble-box .bb .bubble p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.nutrition h3 {
  color: #f0047f;
  position: absolute;
  top: 5vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.nutrition h3 span:first-child {
  font-size: 65px;
}

.nutrition .drip {
  width: 22vw;
  position: absolute;
  top: 35vw;
  left: 39vw;
}

.nutrition .circle-box {
  width: 40%;
  height: 0;
  padding-bottom: 40%;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  position: absolute;
}

.nutrition .circle-box .cb {
  width: 85%;
  margin: 60px auto 0;
  text-align: center;
}

.nutrition .circle-box .cb h4 {
  font-size: 40px;
  margin-bottom: 30px;
}

.nutrition .circle-box .cb p {
  font-size: 25px;
  line-height: 45px;
}

.nutrition .circle-box.cb-1 {
  top: 20vw;
  left: 10vw;
  color: #f44c7f;
}

.nutrition .circle-box.cb-1 p {
  width: 90%;
}

.nutrition .circle-box.cb-2 {
  top: 35vw;
  left: 50vw;
  color: #349980;
}

.nutrition .circle-box.cb-2 .cb {
  margin-top: 150px;
}

.nutrition .circle-box.cb-3 {
  top: 60vw;
  left: 18vw;
  color: #ffab52;
}

.nutrition .circle-box.cb-3 .cb {
  margin-top: 150px;
}

.recc h3 {
  color: #e53e51;
  top: 5vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.recc img {
  width: 100%;
}

.join {
  background-color: #f7f7f7;
  padding: 70px 0 100px;
}

.join form {
  width: 90%;
  margin: 0 auto;
  border: 2px solid #000;
  background-color: #fff;
  padding: 40px;
}

.join form .top-select {
  width: 100%;
  height: 35px;
  border: 2px solid #000;
}

.join form h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #d39597;
  font-size: 35px;
}

.join form h4 span {
  font-size: 20px;
  margin-left: 30px;
}

.join form .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 18px;
  width: 50%;
}

.join form .form-item label {
  width: 20%;
}

.join form .form-item input,
.join form .form-item select {
  border-radius: 0;
  border: 1px solid #000;
  height: 35px;
  width: 80%;
  outline: none;
}

.join form .form-item .cb {
  width: 80%;
}

.join form .form-item.fi-birth {
  width: 70%;
}

.join form .form-item.fi-birth label {
  width: calc(100% / 7);
}

.join form .form-item.fi-birth input {
  width: calc(400% / 7);
}

.join form .form-item.fi-birth span {
  width: calc(200% / 7);
  padding-left: 10px;
}

.join form .form-item.fi-addr {
  width: 80%;
}

.join form .form-item.fi-addr label {
  width: calc(100% / 8);
}

.join form .form-item.fi-addr .city-selector-set {
  width: calc(400% / 8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.join form .form-item.fi-addr .city-selector-set div {
  width: 48%;
}

.join form .form-item.fi-addr .city-selector-set div select {
  width: 100%;
}

.join form .form-item.fi-addr .addr-box {
  width: calc(300% / 8);
}

.join form .form-item.fi-addr .addr-box input {
  width: calc(100% - 15px);
  margin-left: auto;
  display: block;
}

.join form button {
  width: 60%;
  background-color: #d39597;
  color: #fff;
  padding: 8px;
  display: block;
  margin: 20px auto 0;
}

.product {
  margin-top: 70px;
}

.product .product-box {
  padding-bottom: 100px;
  border-bottom: 1px solid #000;
}

.product .product-box .product-pic .pic-box {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  border: 1px solid #000;
}

.product .product-box .product-pic .pic-box img {
  width: 25px;
  bottom: 15px;
  right: 15px;
}

.product .product-box .buy-inform .breadcrumb .breadcrumb-item.active {
  color: #d39597;
}

.product .product-box .buy-inform .product-detail {
  padding-top: 20px;
  padding-left: 20px;
}

.product .product-box .buy-inform .product-detail h1 {
  font-size: 24px;
}

.product .product-box .buy-inform .product-detail .price {
  font-size: 17px;
}

.product .product-box .buy-inform .product-detail .follow {
  line-height: 1;
}

.product .product-box .buy-inform .product-detail .follow img {
  width: 20px;
  vertical-align: middle;
}

.product .product-box .buy-inform .product-detail .follow span {
  vertical-align: middle;
}

.product .product-box .buy-inform .product-detail .num-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product .product-box .buy-inform .product-detail .num-box .mb {
  width: 49%;
  height: 40px;
  border: 1px solid #000;
}

.product .product-box .buy-inform .product-detail .num-box .mb button {
  width: 40px;
  height: 100%;
  background-color: #cccccc;
}

.product .product-box .buy-inform .product-detail .num-box .mb button img {
  width: 50%;
}

.product .product-box .buy-inform .product-detail .num-box .mb input {
  width: calc(100% - 80px);
  border: 0;
  height: 100%;
  text-align: center;
}

.product .product-box .buy-inform .product-detail .btn-box {
  margin-bottom: 20px;
}

.product .product-box .buy-inform .product-detail .btn-box button {
  width: 49%;
  height: 45px;
  border: 1px solid #d39597;
}

.product .product-box .buy-inform .product-detail .btn-box button.add {
  color: #d39597;
  background-color: #fff;
}

.product .product-box .buy-inform .product-detail .btn-box button.checkout {
  color: #fff;
  background-color: #d39597;
}

.product .product-box .buy-inform .product-detail .feature {
  padding: 8px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 100%;
  margin-bottom: 20px;
}

.product .product-box .buy-inform .product-detail .feature .f-title {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.product .product-box .buy-inform .product-detail .feature .f-title p {
  text-align: center;
  margin: 0;
}

.product .product-box .buy-inform .product-detail .feature .f-title i {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product .product-box .buy-inform .product-detail .feature .f-title.active i {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.product .product-box .buy-inform .product-detail .feature .f-content {
  padding: 30px 20px;
  display: none;
}

.product .product-box .buy-inform .product-detail .share {
  line-height: 1;
}

.product .product-box .buy-inform .product-detail .share img {
  height: 17px;
  vertical-align: middle;
}

.product .product-box .buy-inform .product-detail .share span {
  color: #337fff;
  vertical-align: middle;
}

.product .product-desc {
  padding-top: 100px;
  padding-bottom: 100px;
}

.story {
  margin-top: 70px;
}

.story .text {
  padding-top: 100px;
  padding-bottom: 100px;
}

.point {
  margin-top: 70px;
  margin-bottom: 70px;
}

.point .point-box {
  padding-bottom: 100px;
}

.point .point-box .point-title {
  padding-bottom: 30px;
}

.point .point-box .point-title button {
  padding: 10px 40px;
  background-color: #d39597;
  color: #fff;
}

.point .method table {
  width: 100%;
}

.point .method table tr td {
  padding: 8px 0;
  vertical-align: top;
  line-height: 2.5;
}

.point .method table tr td:first-child {
  width: 25px;
}

.point .method table tr td:nth-child(2) {
  width: calc(100% - 25px);
}

.join-member {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 80px;
}

.join-member .jb {
  background-color: #fff;
  padding-bottom: 70px;
}

.join-member .jb .tab {
  width: 100%;
  border: 1px solid #d39597;
}

.join-member .jb .tab button {
  width: 50%;
  padding: 15px 0;
  color: #fff;
  background-color: #d39597;
}

.join-member .jb .tab button p {
  margin: 5px 0;
}

.join-member .jb .tab button p:first-child {
  font-size: 24px;
}

.join-member .jb .tab button p:nth-child(2) {
  font-size: 13px;
}

.join-member .jb .tab button.active {
  color: #4d4d4d;
  background-color: #fff;
}

.join-member .jb .member-form {
  width: 40%;
  margin: 40px auto;
}

.join-member .jb .member-form .fb-login {
  width: 100%;
  background-color: #036eb7;
  color: #fff;
  font-family: 微軟正黑體;
  padding: 15px;
}

.join-member .jb .member-form p {
  text-align: center;
  margin: 10px 0 15px;
}

.join-member .jb .member-form .input-box {
  margin-bottom: 10px;
}

.join-member .jb .member-form .input-box label {
  width: 100%;
  margin-bottom: 5px;
}

.join-member .jb .member-form .input-box input {
  width: 100%;
  border-radius: 0;
  border: 1px solid #000;
  height: 35px;
}

.join-member .jb .member-form .input-box.password-box p {
  text-align: left;
}

.join-member .jb .member-form .veri-box {
  width: 100%;
  margin-bottom: 10px;
}

.join-member .jb .member-form .veri-box label {
  width: 100%;
  margin-bottom: 5px;
}

.join-member .jb .member-form .veri-box input {
  width: 50%;
  height: 35px;
  border-radius: 0;
  border: 1px solid #000;
}

.join-member .jb .member-form .cb {
  width: 100%;
  margin: 20px 0 5px;
}

.join-member .jb .member-form .cb .check {
  width: 50%;
}

.join-member .jb .member-form .output-btn {
  color: #fff;
  background-color: #d39597;
  padding: 8px;
  width: 100%;
}

.join-member .jb .member-form.signup {
  display: none;
}

.join-member .jb .member-form.signup .cb .check {
  width: 100%;
}

.foregt-password {
  margin-top: 70px;
  margin-bottom: 70px;
}

.foregt-password .fp form {
  margin-top: 40px;
  width: 40%;
}

.foregt-password .fp form .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  margin-bottom: 20px;
}

.foregt-password .fp form .input-box label {
  font-size: 14px;
  width: 90px;
}

.foregt-password .fp form .input-box input {
  border-radius: 0;
  border: 1px solid #000;
  height: 35px;
  width: calc(90% - 90px);
}

.foregt-password .fp form .btn-box {
  margin-top: 40px;
}

.foregt-password .fp form .btn-box button {
  background-color: #d39597;
  color: #fff;
  padding: 13px 0;
  width: 49%;
}

.point-check {
  margin-top: 70px;
}

.point-check .now-point {
  padding-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid #000;
}

.point-check .record-box {
  padding: 20px 0 100px;
  width: 100%;
}

.point-check .record-box .record {
  padding: 30px 0;
  width: 100%;
}

.point-check .record-box .record .order-num {
  margin-bottom: 20px;
}

.point-check .record-box .record .order-table {
  margin-bottom: 20px;
  border: 1px solid #d39597;
  width: 100%;
}

.point-check .record-box .record .order-table .ot {
  width: 100%;
}

.point-check .record-box .record .order-table .ot > div {
  padding: 10px 0;
  width: 25%;
}

.point-check .record-box .record .order-table .ot > div p {
  text-align: center;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */